<div class="blue" style="background-color: pink; color: blue;">
    <p>Hi <%=comment.user.name %></p>
    <br>
    <br>
    <p>Your Comment <strong><%= comment.content %></strong> just got Published</p>
    <br>
    <br>
    <p>Thanks!!</p>

</div>